*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

body {
  background: white !important ;
}

.input-form{
    display: flex;
    justify-content: center;
}

.main-conatainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer{
  margin: 10px
}

.imageContainer:hover{
  border: 1px solid grey;
}

.imageContainer:active{
  border: 1px solid red;
}

.image-parent {
  position: relative;
  top: 0;
  left: 0;
}

.background-image {
  position: relative;
  top: 0;
  left: 0;
  height: 500px;
  width:  500px;
}

.generated-image {
  position: absolute;
  top: 57px;
  left: 94px;
  height: 312px;
  width:312px;
  z-index: 50;
}

.option-image {
  width: 100px;
  height:100px;
  margin: 5px
}

.options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.magic-container {
  text-align: center;
}

.actual-code {
  font-size: 1.5em;
  color: #277d9f;
  font-weight: 500;
  background: white;
}

#prompt{
  padding: 10px 20px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 50px;
  width: 100%;
  font-size: 1em;
}

#prompt:hover, .btn-search:hover {
  cursor: pointer;
}

.btn-search {
  border-radius: 50px;
  border: none;
  background: #277d9f;
  color: white;
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 1em;
}
