*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

body {
  background: white !important ;
}

.input-form{
    display: flex;
    justify-content: center;
}

.search-box {
  position: relative;
}

.klaviyo-form-U53aKT {
  max-width: 650px;
  width: 100%;
}

.klaviyo {
  top: 0;
  left: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-conatainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer{
  margin: 10px;
}


.image-parent {
  position: relative;
  top: 0;
  left: 0;
}

.background-image {
  position: relative;
  top: 0;
  left: 0;
  height: 500px;
  width:  500px;
}

.generated-image {
  position: absolute;
  top: 57px;
  left: 94px;
  height: 312px;
  width:312px;
  z-index: 50;
}

.option-image {
  width: 100px;
  height:100px;
  margin: 5px
}

.option-image:hover {
  transform: scale(1.1);
}

.active {
  border: 1px solid red;
}

.options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.magic-container {
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  justify-content: center;
}

.actual-code {
  position: absolute;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px 5px;
  bottom: 10px;
  right: 10px;
  background: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



#prompt{
  padding: 15px 20px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 10px;
  width: 100%;
  font-size: 1em;
  max-width: 500px;
}

#prompt:hover, .btn-search:hover {
  cursor: pointer;
}

.btn-search {
  border-radius: 10px;
  border: none;
  background: #277d9f;
  color: white;
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 1em;
}

.loading {
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 100;
}


@media only screen and (max-width: 750px) {
  .options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
  }

  .option-image {
    width: 75px;
    height: 75px;
  }

  .background-image {
    position: relative;
    top: 0;
    left: 0;
    height: 350px;
    width:  350px;
  }
  
  .generated-image {
    position: absolute;
    top: 11.20%;
    left: 18.8%;
    height: 219px;
    width:219px;
    z-index: 50;
  }
  
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
