*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

body {
  background: white !important ;
}

.input-form{
    display: flex;
    justify-content: center;
}

.main-conatainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer{
  margin: 10px
}

.imageContainer:hover{
  border: 1px solid grey;
}

.imageContainer:active{
  border: 1px solid red;
}

.image-parent {
  position: relative;
  top: 0;
  left: 0;
}

.background-image {
  position: relative;
  top: 0;
  left: 0;
  height: 250px;
  width:  250px;
}

.generated-image {
  position: absolute;
  top: 29px;
  left: 47px;
  height: 156px;
  width:156px;
  z-index: 50;
}



#prompt{
  padding: 10px 20px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 50px;
  min-width: 300px;
  font-size: 1em;
}

#prompt:hover, .btn-search:hover {
  cursor: pointer;
}

.btn-search {
  border-radius: 50px;
  border: none;
  background: #277d9f;
  color: white;
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 1em;
}
