*{
    box-sizing: border-box;
  }

body {
  background: white !important ;
}

.input-form{
    display: flex;
    justify-content: center;
}

.main-conatainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer{
  margin: 10px
}

.imageContainer:hover{
  border: 1px solid grey;
}

.imageContainer:active{
  border: 1px solid red;
}